.grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	gap: 80px 60px;
	padding: 100px 30px;

	background-image: linear-gradient(
		to right,
		#ffffff,
		#ffffff 50%,
		#000000 50%,
		#000000
	);

	// Feels hacky... can we make this better?
	max-height: 100vh;
	overflow-y: auto;
}
