.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 80px 40px;
	padding: 20px;

	background-image: linear-gradient(
		to right,
		#ffffff,
		#ffffff 50%,
		#000000 50%,
		#000000
	);

	// Feels hacky... can we make this better?
	max-height: 100vh;
	overflow-y: auto;
}
