.button {
	border: 1px solid var(--color-border-1);
	box-shadow: 0 0.1em 0.25em var(--color-shadow-l);

	transition: background-color 100ms, box-shadow 100ms, transform 200ms;

	&:focus {
		border-color: transparent;
		box-shadow: 0 0.1em 0.25em var(--color-shadow-m),
			0 0 0 0.2em var(--color-accent-3);
		transform: translateY(-0.1em);
	}
}

.size-xs {
	border-radius: 0.4em;
	padding: 0.6em 0.8em;
}

.size-sm {
	border-radius: 0.4em;
	padding: 0.8em 1.2em;
}

.size-md {
	border-radius: 0.5em;
	padding: 1.2em 2em;
}

.kind-primary {
	background-color: var(--color-accent-0);
	color: var(--color-accent-foreground-0);

	&:hover {
		background-color: var(--color-accent-1);
		transform: scale(1.025) translateY(-0.1em);
	}

	&:active {
		background-color: var(--color-accent-2);
	}
}

.kind-default {
	background-color: var(--color-background-2);

	&:hover {
		background-color: var(--color-background-3);
		transform: scale(1.025) translateY(-0.1em);
	}

	&:active {
		background-color: var(--color-background-4);
	}
}

.pill {
	border-radius: 1.9em;
}
