.menu-item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;

	border-radius: 0.2em;
	gap: 1em;

	&:hover {
		background-color: var(--color-background-2);
		// background-color: blue;
	}
}

.description {
	transition: transform 200ms;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	color: var(--color-foreground-0);

	.menu-item:hover & {
		transform: translateX(0.2em);
	}
}

.something .description,
.label {
	// color: var(--color-foreground-2);
	font-size: 0.9em;
}
